body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  background-color: #e3e3e3;
}
body h1,
body h2,
body h3 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
}
body p {
  letter-spacing: 1px;
}
body button {
  border-radius: 16px;
}

.hero .hero-img {
  background: url("../img/hero3.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.about-us {
  background: url("../img/about bg.svg");
  background-position: center;
  background-size: cover;
}
.about-us .companies {
  border-radius: 16px;
  background-color: #181818;
  position: relative;
  top: -40px;
}
.about-us .about-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border: 3px solid #57cf57;
}

@media only screen and (max-width: 992px) {
  .about-img {
    border-radius: 10px !important;
    border: none !important;
  }
}
.services {
  background-color: #121114;
}
.services .card {
  border-radius: 15px !important;
}
.services .pos-relative {
  position: relative;
  top: -40px;
}

.testimonials {
  background: url("../img/testimonial.svg");
  background-size: cover;
  background-position: center;
}
.testimonials .text-justify {
  text-align: justify;
  padding: 0 4rem !important;
}