:root {
  --primary-color: #33d6ff;
  --success-color: #6dd60a;
}

body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  background-color: #e3e3e3;
}
body .text-primary {
  color: var(--primary-color) !important;
}
body .text-success {
  color: var(--success-color) !important;
}
body .bg-primary {
  background-color: var(--primary-color) !important;
}
body .bg-success {
  background-color: var(--success-color) !important;
}
body h1,
body h2,
body h3 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
}
body p {
  letter-spacing: 1px;
}
body button {
  border-radius: 16px;
}

.hero {
  height: 90vh;
}
.hero .hero-img {
  background: url("../img/hero1.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
}