body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
body h1,
body h2,
body h3 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.8px;
}
body p {
  letter-spacing: 1px;
}

.hero-content {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/hero2.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/hero2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.hero-content .nav-link {
  font-weight: 600;
}
.hero-content .hero-heading {
  margin-bottom: 10px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #5e5e5e;
  }
}