
body{
    font-family: "IBM Plex Sans Arabic", sans-serif;
    background-color: #e3e3e3;

    h1,
    h2,
    h3{
        font-family: "Montserrat", sans-serif;
        letter-spacing: 1.8px;
    }

    p{
        letter-spacing: 1px;
    }

    button {
        border-radius: 16px;
    }

}
