.testimonials{
    background: url('../img/testimonial.svg');
    background-size: cover;
    background-position: center;

    .text-justify{
        text-align: justify;
        padding: 0 4rem !important;
    }
}